@font-face {
	font-family: Dolan;
	src: url(./assets/fonts/Metropolis-Black.otf) format('opentype');
}

@font-face {
	font-family: DolanBody;
	src: url(./assets/fonts/Gotham Regular.otf) format('opentype');
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
	overflow: overlay;
}

::-webkit-scrollbar {
	width: 7px;
	margin-right: 2;
	background: transparent;

}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-track:hover {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #212121;
	border-radius: 15px;
}


::-webkit-scrollbar-thumb:hover {
	background: #000000
}